body{
    margin: 0em;
    padding: 0em;
    overflow: auto;
}

/* STAGE 1 */

.firstScreen {
    width: 100vw;
    height: 100vh;

    background-image: url("/img/home.jpg");
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton {
    all: unset;
    background: black;
    font-family: 'Star Jedi', sans-serif;
    color: yellow;
    padding: .5em;
    border-radius: 1em;
    border: .2em solid yellow;
    font-size: xx-large;
    transition: 0.5s;
}

.startButton:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

/* STAGE 2 */

.secondScreen {
    width: 100vw;
    height: 100vh;
    background-image: url("/img/backgroundCharacters.png");

}

.secondScreenContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.fighters {
    width: 50%;
    height: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.picFighter{
    background: none;
    width: 7em;
    height: 12em;
    border-radius: 1em;
    border: .3em solid yellow;
    margin: 1em;
    transition: 0.5s;
}

.picFighter:hover{
    background: rgb(104, 104, 104);
    transition: 0.5s;
    cursor: pointer;
}

.fighterOne, .fighterTwo{
   height: 40em;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fighterName {
    font-family: 'Star Jedi', sans-serif;
    color: yellow;
    font-size: xx-large;
}

.fighterSelected{
    height: 30em;
    width: 100%;
}




/* STAGE 3 */

.thirdScreen {
    width: 100vw;
    height: 100vh;

    background-image: url("/img/backgroundFight.jpg");
    background-position: center;
}