body{
    margin: 0em;
    padding: 0em;
    overflow: auto;
}

/* STAGE 1 */

.firstScreen {
    width: 100vw;
    height: 100vh;

    background-image: url("/img/home.jpg");
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton {
    all: unset;
    background: black;
    font-family: 'Star Jedi', sans-serif;
    color: yellow;
    padding: .5em;
    border-radius: 1em;
    border: .2em solid yellow;
    font-size: xx-large;
    transition: 0.5s;
}

.startButton:hover, .playButton:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

/* STAGE 2 */

.secondScreen {
    width: 100vw;
    height: 100vh;
    background-image: url("/img/backgroundCharacters.png");

}

.secondScreenContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.centerSecondScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fighters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.picFighter{
    background: none;
    width: 7em;
    padding: .5em;
    height: 12em;
    border-radius: 1em;
    border: .3em solid yellow;
    margin: 1em;
    transition: 0.5s;
}

.picFighter:hover{
    background: rgb(104, 104, 104);
    transition: 0.5s;
    cursor: pointer;
}

.fighterOne, .fighterTwo{
    width: 25%;
    margin-top: 4em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fighterName {
    font-family: 'Star Jedi', sans-serif;
    color: yellow;
    font-size: xx-large;
}

#imgFighterSelected1, #imgFighterSelected2{
    height: 40em;
    width: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgFighter1, .imgFighter2{
    height: 30em;
}

.fighterSelected1{
    border: .3em solid blue;
    background: none;
    width: 7em;
    padding: .5em;
    height: 12em;
    border-radius: 1em;
    margin: 1em;
    transition: 0.5s;
    background: rgb(104, 104, 104);
}

.fighterSelected2{
    border: .3em solid red;
    background: none;
    width: 7em;
    padding: .5em;
    height: 12em;
    border-radius: 1em;
    margin: 1em;
    transition: 0.5s;
    background: rgb(104, 104, 104);
}

.playButton {
    all: unset;
    background: black;
    font-family: 'Star Jedi', sans-serif;
    color: yellow;
    padding: .5em;
    border-radius: 1em;
    border: .2em solid yellow;
    font-size: xx-large;
    transition: 0.5s;
    margin-top: 1.5em;
}


/* STAGE 3 */

.thirdScreen {
    width: 100vw;
    height: 100vh;

    background-image: url("/img/backgroundFight.png");
    background-position: center;
}

.thirdScreenContainer{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.centralDiv{
    height: 50em;
    width: 20em;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo{
    height: 15em;
}

.attackButton {
    all: unset;
    background: black;
    font-family: 'Star Jedi', sans-serif;
    color: yellow;
    padding: .5em;
    border-radius: 1em;
    border: .2em solid yellow;
    font-size: xx-large;
    transition: 0.5s;
}

.attackButton:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

.lifeBar {
    background-color: chartreuse;
    height: 1.5em;
    width: 18em;
    border-radius: 1em;

}

.picFighter1, .picFighter2 {

    height: 40em;
    width: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
}
